<header>
  <div>
    <label><input type="checkbox" id="showExcluded"> Показать исключённые</label>
    <select id="list-selector">
      <option value="All Servers">Все серверы</option>
    </select>
    <button id="manage-lists" class="btn gray">Управление списками</button>
  </div>
  <div class="actions">
    <button id="select-all" class="btn gray">Выделить все</button>
    <button id="invert-selection" class="btn gray" style="display: none;">Инвертировать</button>
    <button id="cancel-selection" class="btn gray" style="display: none;">Отмена</button>
    <button id="add-to-list" class="btn green" style="display: none;">Добавить в список</button>
    <button id="remove-from-list" class="btn red" style="display: none;">Убрать из списка</button>
    <button id="reset-filter" class="btn green">Сбросить фильтр</button>
    <button id="exclude-selected" class="btn red" style="display:none;">Исключить отмеченные</button>
    <button id="include-selected" class="btn green" style="display:none;">Вернуть отмеченные</button>
    <button id="open-selected" class="btn blue" style="display:none;">Открыть отмеченные</button>
  </div>
</header>